<!doctype html>
<!-- 添加会议 -->
<html>
{include file="./backend/header.html" /}
<style>

</style>
<body class="page-wrap">
<!--<div class="content-wrap">-->

<main class="content mCustomScrollbar">
    <form action="{:url('add_Mingdan')}" method="post">
        <input type="text" name="lpic" hidden id="cover">
        <div class="page-wrap">

            <section class="page-hd">
                <header>
                    <h2 class="title">添加名单</h2>
                </header>
                <hr>
            </section>

            <div class="form-group-col-2">
                <div class="form-label">名单标题：</div>
                <div class="form-cont">
                    <input type="text" placeholder="" class="form-control form-boxed" name="ltitle">
                </div>
            </div>

            <div class="form-group-col-2">
                <div class="form-label">封面图：</div>
                <div class="form-cont">
                    <input class="btn btn-secondary selectImage file" id="selectImage" type="file"/>
                    <img style="width: 100px;" class="cover" src=""/>
                </div>
            </div>

            <div class="form-group-col-2">
                <div class="form-label">名单详情：</div>
                <div class="form-cont">
                    <div id="agreement"></div>
                    <textarea id="text1" hidden name="ltext" value = ""></textarea>
                </div>
            </div>

            <div class="form-group-col-2">
                <div class="form-label">发布人：</div>
                <div class="form-cont">
                    <input type="text" placeholder="" class="form-control form-boxed" name="lname">
                </div>
            </div>

            <div class="form-group-col-2">
                <div class="form-label"></div>
                <div class="form-cont">
                    <input type="submit" class="btn btn-primary" value="提交"/>
                </div>
            </div>

            <script>
                $(".selectImage").change(function (e) {
                    //如果有选择图片则上传图片
                    var files = e.target.files || e.dataTransfer.files;
                    var formData = new FormData();
                    if (files.length > 0) {
                        formData.append('imgs[]', files[0]);
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', '{:url("index/uploads")}');
                        xhr.onreadystatechange = function () {
                            if (xhr.readyState == 4 && xhr.status == 200) {
                                let resstr = xhr.responseText;
                                let resp = JSON.parse(resstr);
                                //console.log('上传成功:',resp.path);
                                //处理其他数据，这里根据需要进行调整
                                let imgepath = resp.path[0]; //组装数组
                                $("#cover").val(imgepath);//设置为组装后的图片数组
                                $(".cover").attr("src", imgepath);
                            }
                        };
                        xhr.send(formData);
                    }
                });
                //富文本
                var E = window.wangEditor;
                var editor = new E('#agreement');
                var $text1 = $('#text1');
                editor.customConfig.onchange = function (html) {
                    // 监控变化，同步更新到 textarea
                    $text1.val(html)
                };
                // 自定义菜单配置
                editor.customConfig.menus = [
                    'undo',  // 撤销
                    'redo',  // 重复
                    'head',  // 标题
                    'bold',  // 粗体
                    'italic',  // 斜体
                    'underline',  // 下划线
                    'strikeThrough',  // 删除线
                    'list',  // 列表
                    'justify',  // 对齐方式
                    'quote',  // 引用
                    'image',  // 插入图片
                    'table',  // 表格
                    'code',  // 插入代码
                ];
                // 配置服务器端图片上传地址
                editor.customConfig.uploadImgServer = '{:url("index/upload")}';
                editor.customConfig.uploadFileName = 'imgs[]';
                editor.customConfig.debug = true;
                editor.create();

                // 初始化 textarea 的值
                $text1.val(editor.txt.html())
            </script>
        </div>
    </form>
</main>
</body>
</html>