<!DOCTYPE html>
<html lang="en">
{include file="./backend/header.html"}
<body>
{include file="./backend/sidebar.html"}

<div class="content-wrap">
    {include file="./backend/top.html"}
    <main class="main-cont content mcustomscrollbar">
        <div class="page-wrap">
            <section class="page-hd">
                <header>
                    <h2 class="title">名单详情</h2>
                </header>
                <hr>
                <button class="btn btn-secondary radius" id="addNewArticle">新增</button>
                <button class="btn btn-primary" id="view">查看名单详情</button>
            </section>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th width="3%">id</th>
                    <th width="5%">名单标题</th>
                    <th width="5%">封面图</th>
                    <th width="3%">发布人</th>
                    <th width="3%">点赞数</th>
                    <th width="3%">创建时间</th>
                    <th width="3%">更改时间</th>
                    <th width="3%">操作</th>
                </tr>
                </thead>
                <tbody>
                {foreach $list as $item}
                <tr class="cen">
                    <td>{$item->id}</td>
                    <td>{$item->ltitle}</td>
                    <td style="width: 130px;">
                        <img style="width: 80px;" src="{$item->lpic}"/>
                    </td>
                    <td>{$item->lname}</td>
                    <td>{$item->likes}</td>
                    <td>{$item->create_time}</td>
                    <td>{$item->update_time}</td>
                    <td>
                        <!-- 这里的id是为了针对一条数据进行操作 -->
                        <a title="编辑" class="mr-5 edit" _id="{$item->id}">编辑</a>
                        <a title="删除" class="delete" _id="{$item->id}">删除</a>
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
            {$list->render()}
            <script>
                $("#view").click(function () {
                    layer.open({
                        type: 2,
                        title: '名单详情',
                        shadeClose: true,
                        shade: false,
                        maxmin: true, //开启最大化最小化按钮
                        area: ['750px', '750px'],
                        content: '{:url("view")}'
                    });
                });
                $("#addNewArticle").click(function () {
                    layer.open({
                        type: 2,
                        title: '新增名单',
                        shadeClose: true,
                        shade: false,
                        maxmin: true, //开启最大化最小化按钮
                        area: ['750px', '750px'],
                        content: '{:url("add")}'
                    });
                });
                $('.delete').click(function () {
                    let id = this.getAttribute("_id");
                    layer.confirm('确认删除此内容？', {
                        btn: ['确认', '取消'] //按钮
                    }, function () {
                        //删除ajax
                        $.get("{:url('Mingdans/del_Mingdan')}?id=" + id,
                            function (data, status) {
                                console.log(status, data);
                                if (data.code == 0)
                                    layer.msg("删除成功", {icon: 1});
                                setTimeout(function () {
                                    window.location.reload();
                                }, 1000);
                            }
                        );
                    }, function () {

                    });
                });

                $(".edit").click(function () {
                    let id = this.getAttribute("_id");
                    layer.open({
                        type: 2,
                        title: '编辑名单',
                        shadeClose: true,
                        shade: false,
                        maxmin: true, //开启最大化最小化按钮
                        area: ['750px', '750px'],
                        content: '{:url("Mingdans/edit")}?id=' + id
                    });
                });
                $(".view").click(function () {
                    let id = this.getAttribute("_id");
                    layer.open({
                        type: 2,
                        title: '编辑名单',
                        shadeClose: true,
                        shade: false,
                        maxmin: true, //开启最大化最小化按钮
                        area: ['750px', '750px'],
                        content: '{:url("Mingdans/edit")}?id=' + id
                    });
                });
            </script>

            {include file="./backend/footer.html"}
        </div>
    </main>
</div>
</body>
</html>