<!doctype html>
<html>
{include file="./backend/header.html" /}
<style>

</style>
<body>
<div>
    <br>
    <!--<button class="btn btn-primary" id="addNewArticle">新增-->
    <!--</button>-->

    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <!--<th width="5%">id</th>-->
            <th width="5%">活动ID</th>
            <th width="10%">评论人</th>
            <th width="10%">评论详情</th>
            <th width="10%">评论时间</th>
            <th width="5%">操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $arr as $item}
        <tr class="cen">
            <!--<td>{$item->id}</td>-->
            <td>{$item->aid}</td>
            <td>{$item->cname}</td>
            <td>{$item->ctext}</td>
            <td>{$item->create_time}</td>
            <td>
                                    <!-- 这里的id是为了针对一条数据进行操作 -->
                                    <!--<a title="编辑" class="mr-5 edit" _id="{$item->id}">编辑</a>-->
            <a title="删除" class="delete" _id="{$item->id}">删除</a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {$arr->render()}
</div>
<script>
    // $("#addNewArticle").click(function () {
    //     layer.open({
    //         type: 2,
    //         title: '新增活动',
    //         shadeClose: true,
    //         shade: false,
    //         maxmin: true, //开启最大化最小化按钮
    //         area: ['650px', '650px'],
    //         content: '{:url("add_lacs")}'
    //     });
    // });
    $('.delete').click(function () {
        let id = this.getAttribute("_id");
        layer.confirm('确认删除此内容？', {
            btn: ['确认', '取消'] //按钮
        }, function () {
            //删除ajax
            $.get("{:url('Lactives/del_pinglun')}?id=" + id,
                function (data, status) {
                    console.log(status, data);
                    if (data.code == 0)
                        layer.msg("删除成功", {icon: 1});
                    setTimeout(function () {
                        window.location.reload();
                    }, 1000);
                }
            );
        }, function () {

        });
    });
    // $(".edit").click(function () {
    //     let id = this.getAttribute("_id");
    //     layer.open({
    //         type: 2,
    //         title: '编辑活动',
    //         shadeClose: true,
    //         shade: false,
    //         maxmin: true, //开启最大化最小化按钮
    //         area: ['650px', '650px'],
    //         content: '{:url("Tdingdans/edit")}?id=' + id
    //     });
    // });
</script>
</body>
</html>