<!DOCTYPE html>
<html>
{include file="./backend/header.html" /}
<body class="login-page">
<section class="login-contain">
    <header>
        <h1>后台管理系统</h1>
        <p>management system</p>
    </header>
    <form action="{:url('login')}" method="post">
    <div class="form-content">
        <ul>
            <li>
                <div class="form-group">
                    <label class="control-label">管理员账号：</label>
                    <input type="text" placeholder="管理员账号" class="form-control form-underlined" id="adminName" name="username" value="admin"/>
                </div>
            </li>
            <li>
                <div class="form-group">
                    <label class="control-label">管理员密码：</label>
                    <input type="password" placeholder="管理员密码" class="form-control form-underlined" id="adminPwd" name="password"/>
                </div>
            </li>
            <li>
<!--                <label class="check-box">-->
<!--                    <input type="checkbox" name="remember"/>-->
<!--                    <span>记住账号密码</span>-->
<!--                </label>-->
            </li>
            <li>
                <button class="btn btn-lg btn-block" id="entry">立即登录</button>
            </li>
            <li>
                <p class="btm-info">©Copyright 2019 <a href="" target="_blank" title="">北极熊科技</a></p>
            </li>
        </ul>
    </div>
    </form>
</section>

</body>
</html>
